extends layout 

block content 

    h1= title

    div.devList
        each dev in dev_list 
            a(href=dev.url): img.dev(src=dev.logo)


        else 
            p There are no developers in this store yet.