extends layout 

block content 

    h1= title

    div.gameList
        each game in game_list 
            div.game
                a(href=game.url): img.gameImage(src=game.image)
                

        else 
            p There are no games available.