extends layout

block content
  h1= title
  p Welcome to the #[em N64 Store], an inventory CRUD database of some of my favorite Nintendo 64 games built with Express and MongoDB.
  | Feel free to add you own favorites to this database, but beware: Only the King of the Mushroom Kingdom can delete items.

  h1 Dynamic Content 

  if error 
    p Error getting dynaminc content.
  else 
    p The store has the following record counts: 

    ul 
      li #[strong Games:] !{data.game_count}
      li #[strong Developers:] !{data.developer_count}
      li #[strong Genres:] !{data.genre_count}
