
doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.main
      div.navbar
        block navbar 
          a(href='/catalog'): img.logo(src='/images/n64-store.png')
          ul.navLinks 
            li 
              a(href='/catalog').link Home  
            li 
              a(href='/catalog/games').link Games 
            li 
              a(href='/catalog/developers').link Developers
            li 
              a(href='/catalog/genres').link Genres

      div.sidebar
        block sidebar 
          ul.sidebarLinks
            li 
              a.btn(href='/catalog/game/create'): .add Add Game 
            li 
              a.btn(href='/catalog/developer/create'): .add Add Developer
            li 
              a.btn(href='/catalog/genre/create'): .add Add Genre

      div.content
        block content

      div.footer
        block footer 
          p created by 
            a(href='https://github.com/kihno').git Kihno
