doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.navbar
      block navbar 
        ul.navLinks 
          li 
            a(href='/catalog') Home  
          li 
            a(href='/catalog/games') All Games 
          li 
            a(href='/catalog/developers') All Developers
          li 
            a(href='/catalog/genres') All Genres
          li
            hr 
          li 
            a(href='/catalog/game/create') Add New Game 
          li 
            a(href='/catalog/developer/create') Add New Developer
          li 
            a(href='/catalog/genre/create') Add New Genre

    div.content
      block content
