extends layout 

block content 
    
    h1= title 

    p Only the King of the Mushroom Kingdom can delete items from this database. Please enter the secret password.

    form(method='POST' action='')
        .form-group
            label(for='password') Password:
            input#name.input(type='password', name='password')
            if errors 
                for error in errors 
                    div.error!= error.msg
        button.submit(type='submit') Submit 